<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
        }
    </style>
</head>
<body>

    <table width="100%">
        <tr style="color:white">
            <th><a href="{{ url_for('main_page') }}">Main page</a></th>
            <th><a href="{{ url_for('database_interaction') }}">Database interaction</a></th>
        </tr>
    </table>

    <h1 align="center"><b>ADJUST HOME TASK</b></h1>

    <h2>Description</h2>
        <p>Expose the sample dataset through a single generic HTTP API endpoint, which is capable of filtering, grouping and sorting. Dataset represents performance metrics (impressions, clicks, installs, spend, revenue) for a given date, advertising channel, country and operating system. Dataset is expected to be stored and processed in a relational database.</p>

        <p>Client of this API should be able to:</p>
            <ol>
                <li>filter by time range (date_from+date_to is enough), channels, countries, operating systems</li>
                <li>group by one or more columns: date, channel, country, operating system</li>
                <li>sort by any column in ascending or descending order</li>
                <li>see derived metric CPI (cost per install) which is calculated as cpi = spend / installs</li>
            </ol>

    <h2>Results</h2>
        <p>Common API use-cases:<p>
            <ol>
                <li>
                    Show the number of impressions and clicks that occurred before the 1st of June 2017, broken down by channel and country, sorted by clicks in descending order.
                    <p><b>Query: </b>select channel, country, sum(impressions) as impressions, sum(clicks) as clicks from dataset where date < '2017-06-01' group by channel, country order by clicks desc;</p>
                    <p><b>Result: </b><a href="http://127.0.0.1:5000/database_interaction/result?_query=select+channel%2C+country%2C+sum%28impressions%29+as+impressions%2C+sum%28clicks%29+as+clicks+from+dataset+where+date+%3C+%272017-06-01%27+group+by+channel%2C+country+order+by+clicks+desc%3B">click here.</a><p>
                </li>

                <li>
                    Show the number of installs that occurred in May of 2017 on iOS, broken down by date, sorted by date in ascending order.
                    <p><b>Query: </b> select date, sum(installs) as installs from dataset where date like '2017-05%' and os='ios' group by date order by date;</p>
                    <p><b>Result: </b> <a href="http://127.0.0.1:5000/database_interaction/result?_query=select+date%2C+sum%28installs%29+as+installs+from+dataset+where+date+like+%272017-05%25%27+and+os%3D%27ios%27+group+by+date+order+by+date%3B">click here.</a><p>
                </li>

                <li>
                    Show revenue, earned on June 1, 2017 in US, broken down by operating system and sorted by revenue in descending order.
                    <p><b>Query: </b> select os, revenue from dataset where date = '2017-06-01' and country='US' group by os order by revenue desc;</p>
                    <p><b>Result: </b><a href="http://127.0.0.1:5000/database_interaction/result?_query=select+os%2C+revenue+from+dataset+where+date+%3D+%272017-06-01%27+and+country%3D%27US%27+group+by+os+order+by+revenue+desc%3B">click here.</a><p>
                </li>

                <li>
                    Show CPI and spend for Canada (CA) broken down by channel ordered by CPI in descending order. Please think carefully which is an appropriate aggregate function for CPI.
                    <p><b>Query: </b> select avg(cpi), spend from dataset where country='CA' group by channel order by cpi desc;</p>
                    <p><b>Result: </b><a href="http://127.0.0.1:5000/database_interaction/result?_query=select+round%28avg%28cpi%29%2C+2%29+as+avg_cpi%2C+spend+from+dataset+where+country%3D%27CA%27+group+by+channel+order+by+cpi+desc%3B">click here.</a><p>
                </li>
            </ol>

<h2>Instructions</h2>
<ul>
    <li>The project consists of the modules:
        <ol>
            <li><b>app.py</b> – the main application module; contains the logic of the project.</li>
            <li><b>fill_db_dataset.py</b> – auxiliary module to import sample dataset into the database.</li>
            <li><b>config.py</b> – configuration file for convenience.</li>
        </ol>
    </li>
    <li>There are also two directories: <b>data</b> for dataset(s) and <b>templates</b> for templates.</li>
    <li>To fill in the database to be able to work with it, please, run <b>fill_db_dataset.py</b> first.</li>
    <li>The name of the table is <b>dataset</b>. So, please, use it when trying to access data.</li>
    <li>The code itself might seem a little over-commented but, since I did a project like that for the first time as well
        as used most of the libraries, it was important to me to document it along the way, so I did and that's why I
        won't go into the details here.</li>
    </ul>
</body>
</html>